:root {
    --orange:linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    --black-blue:#333B41;

}
section {
    overflow: hidden;
    display: block;
}
aside {
    display:block;
}
/* FIRST SECTION START */

* {
    box-sizing: border-box;
  
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #333B41;
}
.scroll {
    overflow-y: clip;
}

.h1_name {
    /* width: 1px;
    height: 1px; */
    /* margin: -1px; */
    padding: 0;
    position: absolute;
    border: 0;
    clip-path: inset(100%);
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.container {
    max-width: 1240px;
    padding: 0 40px;
    margin: auto;
}
.header_text {
    font-size: 1.9rem;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    padding: 1.55px 4.75px 3.55px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
 
header {
    position: relative;
    background: #000000;
    backdrop-filter: blur(2px);

    z-index: 2;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
li {
    list-style-type:none;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.5s ease-out;
}

a {
        color:white;
        text-decoration: none;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    /* width: 1600px; */
}

.logo_container {
    position: relative;
    width: 82px;
    height: 52px;
    margin-bottom: 40px;
}
.img_logo{
    position: absolute;
    left: 10px;
    bottom: -12px;
}

.navigation_section {
    width: 100%;
    display: flex;
    align-items: center
}
.navigation_last_element{
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

.navigation_list {
    display: flex;
    align-items: center;
    list-style: none;
}

.active_link {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navigation_element {
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.5s ease-out;
}

.first-section-panda {
    background-image: url(../../assets/images/Giant\ Panda.svg);
    position:relative;
    min-height:780px;
    margin-top:-80px;
    overflow: hidden;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.orange-circle {
    position:absolute;
    top:92px;
    left: calc(50% - 465px / 2 + 239px);
    width: 465px;
    height:465px;
    border-radius: 50%;
    background: var(--orange);
}

.orange-circle > p {
    position: absolute;
    left: 73px;
    /* top: 74px; */
    width: 500.31px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    color: #ffffff;
    cursor: default;
    top:-33.5px;
}
p > :nth-child(3){
    color:#FFEE2E;
}

.watch-online {
position: absolute;
width: 298px;
height: 54px;
left: 5px;
top: 16px;
color:#FFFFFF;
background: var(--orange);
position: absolute;
left: calc(50% - 298px / 2 + 332px);
top: 626px;
border-radius: 25px;
border:none;
}

.btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
color: white;
text-align: center;
text-transform: uppercase;
}
/* FIRST SECTION END */

/* SECOND SECTION START */

.second-section-backstage {
    position: relative;
    color: var(--black-blue);
    padding-top: 140px;
    padding-bottom: 180px;
}

.old-man-photo {
    background-image: url(../../assets/images/bamboo-cap.svg);
    background-size: cover;
    height: 403px;
}

section.second-section-backstage .backstage-container {
    display: grid;
    grid-template-columns: 609px 1fr;
    gap: 87px;
    height: 403px;
}

.backstage-container {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-size:48px;
    font-weight: 400;
    line-height: 120%;
}

.second-section-backstage h2 {
    margin-top:0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

p.title-text {
    margin-top: 51px;
    margin-bottom: 31px;
    font-size:24px;
    line-height: 140%;
}

.first-text-backstage{
    margin-top:-20px;
}

.flower-right-photo {
    background-image: url(../../assets/images/flower_foto1.svg);
    position: absolute;
    top:12px;
    right:-90px;
    width:293px;
    height: 605px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}